<ion-tabs color="primary">
  <ion-tab-bar>
    <ion-tab-button tab="productos">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pedidos Pendientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos-realizados">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pedidos Realizados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>